@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&family=Yuji+Hentaigana+Akari&display=swap");

body {
  background: #112345;
  text-align: center;
  color: bisque;
}

h1 {
  transition: 0.5s;
  font-family: "Yuji Hentaigana Akari";
  font-size: 160px;
}
h1:hover {
  transition: 1s;
  opacity: 0.1;
  color: aqua;
}
